<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title="Home Site">
  </head>
  <body>
    {{> header}}

    <p>Welcome to new site, {{screamIt name}}</p>
    <p>I like, {{likes}}</p>

    {{> footer}}
  </body>
</html>
